/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2017, 5:08:03 PM
    Author     : Mike
*/

.separator:vertical {
    
}

#center-text {
    
}

#top-tool-bar {
    
}

#main-pane {
    
}

#centerGrid {
    -fx-padding: 5;
}

#summary-button {
    -fx-base:cyan;
    -fx-border-radius:0;
    -fx-background-radius:0;
    -fx-max-width:500;
    -fx-max-height:500;
    -fx-pref-height:50;
    -fx-pref-width:195;
    -fx-min-height:20;
    -fx-min-width:20;
/*    -fx-background-image: url("stone.jpg");
    -fx-background-size: 350px 350px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;*/
}

#summary-button-node {
    -fx-alignment:CENTER;
}

#summary-button-name {
    -fx-alignment:CENTER;
    -fx-text-fill:black;
    -fx-font-size:15;
}

#summary-button-status {
    -fx-alignment:CENTER;
    -fx-text-fill:orange;
    -fx-font-size:12;
    -fx-font-weight:bold;
}

#summary-button-timer {
    -fx-alignment:CENTER;
    -fx-text-fill:black;
    -fx-font-size:15;
}

#summary-button-timer-box {
    -fx-alignment:BASELINE_LEFT;
}

#room-button {
    -fx-base:ivory;
    -fx-border-radius:0;
    -fx-background-radius:0;
    -fx-max-height:200;
    -fx-max-width:400;
    -fx-pref-height:80;
    -fx-pref-width:160;
    -fx-min-height:70;
    -fx-min-width:140;
/*    -fx-background-image: url("stone.jpg");
    -fx-background-size: 350px 350px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;*/
}

#room-button-semivalid {
    -fx-base:grey;
    -fx-border-radius:0;
    -fx-background-radius:0;
    -fx-max-height:200;
    -fx-max-width:400;
    -fx-pref-height:80;
    -fx-pref-width:160;
    -fx-min-height:70;
    -fx-min-width:140;
/*    -fx-background-image: url("stone.jpg");
    -fx-background-size: 350px 350px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;*/
}

#room-button-unreachable {
    -fx-base:brown;
    -fx-border-radius:0;
    -fx-background-radius:0;
    -fx-max-height:200;
    -fx-max-width:400;
    -fx-pref-height:80;
    -fx-pref-width:160;
    -fx-min-height:70;
    -fx-min-width:140;
/*    -fx-background-image: url("stone.jpg");
    -fx-background-size: 350px 350px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;*/
}

#room-button-node {
    -fx-alignment:CENTER;
}

#room-button-name {
    -fx-alignment:CENTER;
    -fx-text-fill:black;
    -fx-font-size:15;
}

#room-button-status {
    -fx-alignment:CENTER;
    -fx-text-fill:orange;
    -fx-font-size:12;
    -fx-font-weight:bold;
}

#room-button-status-box {
    -fx-alignment:BASELINE_LEFT;
}

#active-name {
    -fx-text-fill:mediumslateblue;
}

#active-status {
    -fx-text-fill:orange;
}

#res-pair {
    /* HBox containing resource name and resource value */
    -fx-alignment:CENTER;
}

#res-name {
    /* Label - resource name */
    -fx-alignment:CENTER;
}

#res-value {
    /* Label - resource value */
    -fx-alignment:CENTER;
    -fx-text-fill:darkred;
}

#report-text {
    -fx-text-fill:chartreuse;
    -fx-font-size:15;
}

#detail-node {
    -fx-border-color:black;
    -fx-border-width:5;
    -fx-border-style:solid;
}

#detail-name {
    -fx-font-size:20;
}

#detail-trait-scroll {
    -fx-hbar-policy:never;
}    

#detail-trait-VBox {
    -fx-alignment:CENTER;
}    

#detail-trait-flow {
    -fx-padding:10;
    -fx-hgap: 5;
    -fx-vgap: 15;
}

#detail-trait-pair {
    -fx-spacing:15;
    -fx-alignment:CENTER;
}

#detail-trait-box {
    -fx-padding:10;
    -fx-spacing:10;
    -fx-alignment:TOP_LEFT;
    -fx-border-color:black;
    -fx-border-width: 1 1 3 1;
    -fx-border-style:solid;
}

#detail-trait-box-invalid {
    -fx-padding:10;
    -fx-spacing:10;
    -fx-alignment:TOP_LEFT;
    -fx-border-color:red;
    -fx-border-width: 1 1 3 1;
    -fx-border-style:solid;
}

#detail-trait-group {
    -fx-font-size:18;
    -fx-border-color:gray;
    -fx-border-width: 0 0 1 0;
    -fx-border-style:solid;
}

#detail-trait-name {
    -fx-font-size:15;
}

#detail-trait-value {
    -fx-font-size:15;
}

#detail-trait-description {
    -fx-font-size:15;
}

#detail-trait-description-tooltip {
/*    -fx-border-color:grey;
    -fx-border-width:2;
    -fx-border-style:solid;*/
}

#detail-task-scroll {
    -fx-hbar-policy:never;
}

#detail-task-VBox {
    -fx-vgap:15;
    -fx-hgap:20;
    -fx-padding:10;
}    

#entity-detail-task-flow {
    -fx-vgap:15;
    -fx-hgap:20;
    -fx-padding:10;
}

#entity-detail-task-links {
    -fx-font-size:15;
    -fx-text-fill:#99cc00;
}

#detail-cancel-task {
    -fx-border-color:red;
    -fx-border-width:2;
    -fx-border-style:solid;
}

#detail-current-task {
    -fx-font-size:15;
    -fx-text-fill:orange;
}

#entity-detail-task-button {
    -fx-border-color:grey;
    -fx-border-width:2;
    -fx-border-style:solid;
}

#entity-detail-task-button-working {
    -fx-border-color:green;
    -fx-border-width:2;
    -fx-border-style:solid;
}

#entity-detail-task-button-invalid {
    
}

#entity-detail-task-box {
    -fx-padding:10;
    -fx-spacing:5;
    -fx-alignment:TOP_LEFT;
    -fx-border-color:black;
    -fx-border-width: 1 1 3 1;
    -fx-border-style:solid;
}

#entity-detail-task-box-selected {
    -fx-padding:10;
    -fx-spacing:5;
    -fx-alignment:TOP_LEFT;
    -fx-border-color:gold;
    -fx-border-width: 2 2 3 2;
    -fx-border-style:solid;
}

#entity-detail-task-name {
    -fx-font-size:15;
}

#entity-detail-task-name-pane {
    -fx-spacing:15;
    -fx-alignment:CENTER;
}

#entity-detail-task-duration {
    -fx-font-size:15;
}

#entity-detail-task-duration-number {
    -fx-font-size:15;
}

#entity-detail-task-duration-pane {
    -fx-spacing:15;
    -fx-alignment:CENTER;
}

#entity-detail-task-cost-title {
    -fx-font-size:15;
    -fx-text-fill:gold;
    -fx-alignment:CENTER_LEFT;
}

#entity-detail-task-cost {
    -fx-font-size:15;
    -fx-text-fill:black;
}

#entity-detail-task-cost-invalid {
    -fx-font-size:15;
    -fx-text-fill:red;
}

#entity-detail-task-cost-number {
    -fx-font-size:15;
}

#entity-detail-task-cost-vbox {
    -fx-spacing:0;
    -fx-alignment:CENTER_LEFT;
}

#entity-detail-task-cost-pane {
    -fx-spacing:15;
    -fx-alignment:CENTER;
}

#entity-detail-task-requirement {
    -fx-font-size:15;
    -fx-text-fill:black;
}

#entity-detail-task-requirement-invalid {
    -fx-font-size:15;
    -fx-text-fill:red;
}

#entity-detail-task-requirement-title {
    -fx-font-size:15;
    -fx-text-fill:gold;
    -fx-alignment:CENTER_LEFT;
}

#entity-detail-task-requirement-number {
    -fx-font-size:15;
}

#entity-detail-task-requirement-vbox {
    -fx-spacing:0;
    -fx-alignment:CENTER_LEFT;
}

#entity-detail-task-requirement-pane {
    -fx-spacing:15;
    -fx-alignment:CENTER;
}

#entity-detail-task-result {
    -fx-font-size:15;
}

#entity-detail-task-result-number {
    -fx-font-size:15;
}

#entity-detail-task-result-title {
    -fx-font-size:15;
    -fx-text-fill:gold;
    -fx-alignment:CENTER_LEFT;
}

#entity-detail-task-result-vbox {
    -fx-spacing:0;
    -fx-alignment:CENTER_LEFT;
}

#entity-detail-task-result-pane {
    -fx-spacing:15;
    -fx-alignment:CENTER;
}

#entity-detail-task-description {
    -fx-font-size:15;
}

#entity-detail-task-description-tooltip {
/*    -fx-border-color:grey;
    -fx-border-width:2;
    -fx-border-style:solid;*/
}