/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2017, 5:08:03 PM
    Author     : Mike
*/

.separator:vertical {
    
}

#center-text {
    
}

#top-tool-bar {
    
}

#main-pane {
    
}

#centerGrid {
    -fx-padding: 25;
}

#summary-button {
    -fx-base:cyan;
    -fx-border-radius:0;
    -fx-background-radius:0;
    -fx-max-width:500;
    -fx-max-height:500;
    -fx-pref-height:75;
    -fx-pref-width:175;
    -fx-min-height:20;
    -fx-min-width:20;
/*    -fx-background-image: url("stone.jpg");
    -fx-background-size: 350px 350px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;*/
}

#summary-button-VBox {
    -fx-alignment:CENTER;
}

#summary-button-name {
    -fx-alignment:CENTER;
    -fx-text-fill:black;
    -fx-font-size:15;
}

#summary-button-status {
    -fx-alignment:CENTER;
    -fx-text-fill:orange;
    -fx-font-size:12;
    -fx-font-weight:bold;
}

#summary-button-timer {
    -fx-alignment:CENTER;
    -fx-text-fill:black;
    -fx-font-size:15;
}

#summary-button-timer-box {
    -fx-alignment:BASELINE_LEFT;
}

#active-name {
    -fx-text-fill:mediumslateblue;
}

#active-status {
    -fx-text-fill:orange;
}

#res-pair {
    /* HBox containing resource name and resource value */
    -fx-alignment:CENTER;
}

#res-name {
    /* Label - resource name */
    -fx-alignment:CENTER;
}

#res-value {
    /* Label - resource value */
    -fx-alignment:CENTER;
    -fx-text-fill:chartreuse;
}

#report-text {
    -fx-text-fill:chartreuse;
    -fx-font-size:15;
}

#entity-detail-node {
    -fx-border-color:black;
    -fx-border-width:5;
    -fx-border-style:solid;
}

#entity-detail-name {
    -fx-font-size:20;
}

#entity-detail-trait-pane {
    -fx-vgap:15;
    -fx-hgap:20;
    -fx-padding:10;
}

#entity-detail-trait-pair {
    -fx-spacing:15;
    -fx-alignment:CENTER;
}

#entity-detail-trait-box {
    -fx-padding:10;
    -fx-spacing:15;
    -fx-alignment:TOP_LEFT;
    -fx-border-color:black;
    -fx-border-width: 1 1 3 1;
    -fx-border-style:solid;
}

#entity-detail-trait-name {
    -fx-font-size:15;
}

#entity-detail-trait-value {
    -fx-font-size:15;
}

#entity-detail-trait-description {
    -fx-font-size:15;
}

#entity-detail-trait-description-tooltip {
/*    -fx-border-color:grey;
    -fx-border-width:2;
    -fx-border-style:solid;*/
}

#entity-detail-task-pane {
    -fx-vgap:15;
    -fx-hgap:20;
    -fx-padding:10;
}

#entity-detail-task-button {
    
}

#entity-detail-task-box {
    -fx-padding:10;
    -fx-spacing:5;
    -fx-alignment:TOP_LEFT;
    -fx-border-color:black;
    -fx-border-width: 1 1 3 1;
    -fx-border-style:solid;
}

#entity-detail-task-name {
    -fx-font-size:15;
}

#entity-detail-task-name-pane {
    -fx-spacing:15;
    -fx-alignment:CENTER;
}

#entity-detail-task-duration {
    -fx-font-size:15;
}

#entity-detail-task-duration-number {
    -fx-font-size:15;
}

#entity-detail-task-duration-pane {
    -fx-spacing:15;
    -fx-alignment:CENTER;
}

#entity-detail-task-cost-title {
    -fx-font-size:15;
    -fx-text-fill:gold;
}

#entity-detail-task-cost {
    -fx-font-size:15;
}

#entity-detail-task-cost-number {
    -fx-font-size:15;
}

#entity-detail-task-cost-pane {
    -fx-spacing:15;
    -fx-alignment:CENTER;
}

#entity-detail-task-requirement {
    -fx-font-size:15;
}

#entity-detail-task-requirement-number {
    -fx-font-size:15;
}

#entity-detail-task-requirement-pane {
    -fx-spacing:15;
    -fx-alignment:CENTER;
}

#entity-detail-task-result {
    -fx-font-size:15;
}

#entity-detail-task-result-number {
    -fx-font-size:15;
}

#entity-detail-task-result-pane {
    -fx-spacing:15;
    -fx-alignment:CENTER;
}

#entity-detail-task-description {
    -fx-font-size:15;
}

#entity-detail-task-description-tooltip {
/*    -fx-border-color:grey;
    -fx-border-width:2;
    -fx-border-style:solid;*/
}